.card-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
}

.title {
    width: 15vw;
    font-size: 10px;
    text-align: center;
}

.cards {
    max-width: 80vw;
    overflow-y: scroll;
    display: flex;
}

.face-container {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -30px;
}

.card {
    width: 80px;
    height: 110px;
}

.value {
    font-size: 8px;
    transform: to-upper-case;
    margin-top: -25px;
}